* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


header {
    position: relative;
    background-image: url(img/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

header>* {
    position: absolute;
}

h1 {
    z-index: 1;
    position: fixed;
    font-size: 2.5vw;
    text-transform: uppercase;
    color: black;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    text-align: center;
    padding: 0px 50px;
    line-height: 75px;
}

.logo {
    padding: 5px 10px 14px 5px;
    width: 280px;
    top: 1%;
    left: 2%;
    max-width: 280px;
    vertical-align: bottom;
}

h2 {
    font-size: 3.5vw;
    text-transform: uppercase;
    top: 50%;
    left: 0;
    width: 100vw;
    text-align: center;
    color: white;
    padding: 10px 15px;
    box-shadow: 0 0 10px black;
}

i {
    left: 50%;
    bottom: 10%;
    font-size: 50px;
    color: white;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: black;
}


@media (max-width:700px) {
    .logo {
        width: 210px;
        padding-bottom: 8px;
    }

    h1 {
        font-size: 3.5vw;
        line-height: 45px;
        letter-spacing: -1px;
    }
}

@media (max-width:540px) {

    .logo {
        width: 200px;
    }

    h1 {
        padding: 0px 20px;
        font-size: 3.5vw;
    }
}

@media (max-width:420px) {

    .logo {
        width: 180px;
    }

    h2 {
        font-size: 7vw;
    }
}

@media (max-width:370px) {

    h1 {
        padding: 0px 15px;

    }

    .logo {
        width: 140px;
    }
}

@media (max-width:280px) {

    h1 {
        font-size: 3.7vw;
        line-height: 35px;
        letter-spacing: -1px;
    }

    .logo {
        width: 130px;
    }
}



main {
    background-color: black;
}

.team {
    max-width: 1600px;
    margin: 30px auto 0;
    padding: 5%;
    background-color: black;
    text-align: center;
    overflow: hidden;
}

.descryption {
    padding: 40px 0;
}



img.imgperson {
    border-radius: 50%;
    width: 55vw;
    max-width: 300px;
}



h3 {
    font-size: 16px;
    text-align: center;
}

p {
    font-size: 12px;
}



@media (min-width:640px) {

    img.imgperson {
        width: 40vw;
    }



    h3 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
        margin-right: 10px;
    }
}

@media (min-width:1024px) {

    .person1 {
        float: left;
        width: 60%;
    }

    .about {
        float: left;
        width: 40%;
    }

    .team .descryption:nth-of-type(even) .person1 {
        float: right;


    }

    .descryption:nth-of-type(even) {
        background-color: white;
        color: black;
        box-shadow: inset 10px 5px 5px black;
        padding-left: 30px;
    }

    h3 {
        font-size: 25px;

    }

    p {
        font-size: 20px;
    }
}


@media (min-width:1300px) {

    img.imgperson {
        width: 50vw;
    }



    h3 {
        font-size: 28px;
    }

    p {
        font-size: 22px;
    }
}